.db {
  display: block;
}

.dt {
  display: flexbox;
}

.lh-copy {
  line-height: 1;
  font-size: 30px;
  border-color: green;
}

.mw6 {
  max-width: 50rem;
}

.mw7 {
  max-width: 20rem;
}

.w-100 {
  width: 100%;
}

.pb5 {
  padding-bottom: 4rem;
}

.pt0 {
  padding-top: 0;
}

.ph2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.v-mid {
  vertical-align: middle;
}

@media screen and (min-width: 30em) {
  .dtc-ns {
    display: table-cell;
  }
  .dtc-nb {
    display: table-cell;
  }

  .w5-ns {
    width: 20rem;
  }

  .pl3-ns {
    padding-left: 1rem;
  }

  .pr0-ns {
    padding-right: 0;
  }

  .pv6-ns {
    padding-top: 8rem;
    padding-bottom: 4rem;
  }

  .v-mid-ns {
    vertical-align: middle;
  }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .pv5-m {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
a {
  line-height: 30px;
}
